$default_1: #FFFCF8;
$default_2: #FFF4E8;
$default_3: #FFE4C8;
$default_4: #FFC890;
$default_5: #FFB060;
$default_6: #FF8400;
$default_7: #D86C00;
$default_8: #B05800;
$default_9: #884400;
$default_10: #683400;
$default_11: #402000;
$default_12: #261300;